<%- include("./partials/header") %>
<%- include("./partials/nav") %>
<link rel="stylesheet" href="/css/about.css">
</head>
<body>
<div class="container-fluid p-0">

    <div id="about" class="row g-0 mt-5">
        <h1 class="col-12 mt-5 p-3">About Us</h1>
        <p class="col-12"> 
            We are a New Delhi based company with a 30 year reputation in the Indian leather industry. After years of surveys and research and keeping in mind the preferences of our customers, we have developed a range of leather accessories for a variety of people.
        </p>
    </div>
    

</div>

<%- include("./partials/footer") %>